@import url(font/fonts.scss);

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

}
